# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local

# Virtual Environments
.venv/
venv/
ENV/

# IDE & Editors
.vscode/
.idea/
*.swp

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log